/* Write your CSS here */
.money-manager {
  min-height: 100vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.money-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  width: 86%;
  max-width: 1140px;
  padding: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 25px;
  text-align: center;
}
.name-heading {
  font-family: 'Roboto';
  color: #475569;
  font-weight: normal;
  font-size: 26px;
}
.description {
  font-family: 'Roboto';
  color: #7e858e;
  font-size: 14px;
}
span {
  font-family: 'Roboto';
  color: #0b69ff;
  font-size: 14px;
  font-weight: 500;
}
.transaction-form {
  border: 1px solid #7e858e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  padding: 25px;
  height: 380px;
  margin-bottom: 10px;
}
.transaction-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #1e293b;
  font-weight: 500;
}
.title {
  font-family: 'Roboto';
  font-size: 12px;
  color: #7e858e;
  line-height: 1.4;
}
.title-text {
  font-family: 'Roboto';
  font-size: 12px;
  color: #d7dfe9;
  color: #334155;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #d7dfe9;
  padding: 7px;
}
.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 7px;
  padding: 9px;
  width: 70px;
  height: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history-container {
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
  width: 300px;
}
.history-lists-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}
.history-lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #d7dfe9;
}
.details {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #334155;
  padding-left: 26px;
}

@media screen and (min-width: 768px) {
  .money-container {
    text-align: left;
    width: 100%;
  }
  .name-heading {
    font-size: 34px;
  }
  .description {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }
  .container {
    flex-direction: row;
  }
  .history-container {
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
    width: 300px;
    padding: 25px;
    height: 380px;
    overflow-y: auto;
  }
}
